<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/inicio.css">

</head>

<body>
    <%- include('navbar.ejs') %>
        <div class="contenedor_ini">
            <div class="parte_1">
                 <img class="img_1" src="/images/log4.2.png" alt="" srcset="">
                <p>
                    "Geld" es una pagina web creada para ayudar a las personas
                    a gestionar de manera efectiva sus presupuestos
                </p>
                <button class="btn_gestionar">Gestionar</button>
            </div>
            <div class="parte_2">
                <div class="izquierdo">
                    <h2>
                        Con el software
                        correcto, ocurren grandes cosas.
                    </h2>
                    <h2>
                        Maximiza tu eficiencia con estas herramientas.
                    </h2>
                </div>
                <div class="derecho">
                    herramienta eficiente y facil de usar para que los usuarios administren y controlen su presupuesto
                    mensual, registren sus ingresos y gastos, y realizen cálculos relacionados con su finanxas
                    personales.

                </div>


            </div>
            <div class="parte_3">
                <div class="parte_superior">
                    <h4>lo que ofrecemos</h4>
                    <p>
                        El objetivo principal del Gestor de
                        Presupuesto Personal es proporcionar a los usuarios una herramienta facil de usar
                        que les permita administar y controlar eficientemente su presupuesto mensual
                    </p>
                </div>
                <div class="cuadros">
                    <div class="box">
                        <img src="/images/verificar.png" alt="" srcset="">
                        <h4> REGISTRO DE INGRESOS Y GASTOS</h4>
                        <P> Los usuarios podran registrar facilmnete sus ingresos y gastos</P>
                    </div>
                    <div class="box">
                        <img src="/images/categoria.png" alt="" srcset="">
                        <h4> CATEGORIAS PERSONALIZADAS</h4>
                        <P> Se podran registrar los gastos en categorias
                            personalizada como: alimentos, transporte, entrenamineto, etc.
                        </P>
                    </div>
                    <div class="box">
                        <img src="/images/categorias.png" alt="" srcset="">
                        <h4>PLANES DE AHORRO</h4>
                        <p>
                            Tendra Planes de ahorro, de acuerdo al objetivo dedl usuario
                        </p>
                    </div>
                </div>
            </div>
            <div class="parte_4">
                <div class="derecho">
                    <img src="/images/userM.png" alt="" srcset="">
                    <p>
                        Registrate ahora y
                        comienza a tomar control
                        de tus finanzas con nuestro
                        gestor de presupuesto personal.
                    </p>
                </div>

                <div class="izquierdo">
                    <h3> Registrate:</h3>
                    <div class=" form">
                        <input type="text" name="" placeholder="Nombre" dir="ltr"  /> <br>
                        <input type="text" name="" placeholder="Email"  /><br>
                       <input type="text" name="" placeholder="Telefono" /> <br>
                       <button class="btn_enviar">Enviar</button>
                    </div>
                 
                </div>

            </div>
            <div class="parte_5">
                <img src="/images/log4.3.png" alt="" srcset="">

            </div>

        </div>

</body>

</html>