<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header class="header">
        <div class="menu">
            <div class="logo">
                <a href="#"><img src="imagenes/log3.png" alt=""></a>
            </div>
            <nav class="nav">
                <a href="/">Inicio</a>
                <a href="/gestionar">Gestionar</a>
                <a href="/planes_de_ahorro">Planes de ahorro</a>
                <a href="/contacto">Contacto</a>        
            </nav>
            <div class="social">
                <div><a href="#"><img src="images/twiter.png" alt=""></a></div>
                <div><a href="#"><img src="images/facebook.png" alt=""></a></div>
                <div><a href="#"><img src="images/insta.png" alt=""></a></div>
                <div><a href="#"><img src="images/user.png" alt=""></a></div>

            </div>
        </div>
    </header>
</body>

</html>