<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de ahorro</title>
    <link rel="stylesheet" href="/css/plan_de_ahorro.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <%- include('navbar.ejs') %>

    <div class="contenedor">
        <div class="card_box">
            <h1>Plan basico de ahorro</h1>
            <div class="contenedor_texto">
                <li> Establece un objetivo mensual de ahorro de 10%. </li>
                <li> Ahorra ese monto cada mes y deposita en una cuenta de ahorros separada. </li>
                <li> Puedes automatizazr la transferebcia para que sea mas facil y consistente.
                </li>
                <button type="button">Agregar</button>

            </div>

        </div>
        <div class="card_box">
            <h1>Plan de ahorro medio</h1>
            <div class="contenedor_texto">
                <li> Establece un objetivo mensual de ahorro mas ambicioso, por ejemplo, 30%.</li>
                <li> Busca areas en las que puedas reducir gastos, como comer afuera o compras innecesarias.
                </li>
                <li> Destina el monto extra al ahorro mensual </li>
                <button type="button">Agregar</button>
            </div>

        </div>
        <div class="card_box">
            <h1>Plan de ahorro alto</h1>
            <div class="contenedor_texto">

                <li> Establece un objetivo mensual de ahorro considerable, por ejemplo 50% o más. </li>
                <li> Revisa detenidamente tus gasatos y busca formas de reducir costos significativos. </li>
                <li> Busca oportunidades de ingresos adicionales. </li>
                <button type="button">Agregar</button>

            </div>

        </div>
    </div>





</body>

</html>